.heroes{
    padding: 0;
    list-style: none;
}

.heroes li {
    margin: 3pt;
    padding: 5pt;
    padding-left : 0; 

    color: #F0F0F0;

    background: #2e2e2e;
    border: 2pt solid #2e2e2e;
    border-left: none;
    border-radius: 3pt;

}

.heroes .badge{
    padding : 5pt;
    margin-right: 5pt;

    background: #1d95b3;
    border: 2pt solid #1d95b3;
    border-radius: 3pt 0 0 3pt;
}

.heroes .selected{
    background: #aaaaaa;
    color: #000000;
    border-color: #aaaaaa;
}

.heroes .selected .badge {
    color: #ffffff;
}